{% extends 'C_base.html' %}

{% block body %}
<br><br><br><br><br><br>
<h1 align="center">{{ the_title }}</h1>
<br>
<form method='POST' action='/search4' align="center">
<table align="center">
<h2 colspan="2">请输入您和他（她）的信息</h2>
<br><br>
<table align="center" border="1px" cellspacing="0px" bordercolor="white">
<tr><td>&nbsp生肖一: &nbsp</td><td>
  <input type="text" name='shengxiao1' list="shengxiao1" placeholder="请输入生肖名称，如：鼠" />
    <datalist id="shengxiao1">
    <select name='shengxiao1'>
    {% for item in entry_shenxiao_list %}
      <option value="{{item}}">{{item}}</option>
    {% endfor %}
    </select>
    </datalist>
<tr><td>生肖二: </td><td>
  <input type="text" name='shengxiao2' list="shengxiao2" placeholder="请输入生肖名称，如：鼠" />
    <datalist id="shengxiao2">
    <select name='shengxiao2'>
    {% for item in entry_shenxiao_list %}
    <option value="{{item}}">{{item}}</option>
    {% endfor %}
    </select>
    </datalist>
</table>
<br><br>
</table>
<p>填好资料, 单击此按钮开始匹配：</p>
<p><input value='开始匹配！' type='SUBMIT'></p>
</form>

{% endblock %}
